<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/8f1cc158-780e-4587-96b5-fc2bcde39e79/resourceGroups/micheleorgrg/providers/Microsoft.Web/sites/ProactServices20210407153022</ResourceId>
    <ResourceGroup>micheleorgrg</ResourceGroup>
    <ApiResourceId>/subscriptions/8f1cc158-780e-4587-96b5-fc2bcde39e79/resourceGroups/micheleorgrg/providers/Microsoft.ApiManagement/service/proact-service-api/apis/proact-encryptionagent</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://proactservices20210407153022.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <ProjectGuid>da89ba36-adcc-4932-95f1-f94cbedacdd9</ProjectGuid>
    <MSDeployServiceURL>proactservices20210407153022.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>ProactServices20210407153022</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$ProactServices20210407153022</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>